@model Bus

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>

    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <h1>Edit Product</h1>
    <br />
    <br />
    <form method="post" asp-area="admin" asp-controller="car" asp-action="edit">
        <table>
            <tr>
                <td>Active</td>
                <td>
                    <input type="checkbox"  value="@Model.Active" checked="@Model.Active"/>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    <input type="checkbox"  value="@Model.Status" checked="@Model.Status"/>
                </td>
            </tr>
            <tr>
                <td>Total Seat</td>
                <td>
                    <input type="text" asp-for="@Model.TotalSeat" />
                </td>
            </tr>
            <tr>
                <td>Images</td>
                <td>
                    <p>abc.jpg</p>
                </td>
            </tr>
            <tr>
                <td>Seat Empty</td>
                <td>
                    <input type="text" asp-for="@Model.SeatEmpty" />
                </td>
            </tr>
            <tr>
                <td>Cate Id</td>
                <td>
                    <input type="text" asp-for="@Model.Cate.Id" />
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save"  />
                    <input type="hidden" asp-for="@Model.Id" />
                </td>
            </tr>


        </table>



    </form>


</body>
</html>


