@model Bus
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <input type="text" placeholder="Search"/>
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <a asp-area="admin" asp-controller="car" asp-action="add" class="btn btn-success btn-sm" style="width:200px;height:35px">                           
                            &nbsp;
                            <span class="view-edit" style="font-size:1rem;">Add New Car</span>
                        </a>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Active</th>
                                                <th>Status</th>
                                                <th>TotalSeat</th>
                                                <th>image</th>
                                                <th>SeatEmpty</th>
                                                <th>CateId</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.cars)
                                            {
                                                <tr>
                                                    <td>@item.Code</td>
                                                    <td>@item.Active</td>
                                                    <td>
                                                        @item.Status
                                                    </td>
                                                    <td>@item.TotalSeat</td>
                                                    <td>
                                                        <img width="75" height="75" id="photo" src="~/admin/image/@item.Image" />
                                                    </td>
                                                    <td>@item.SeatEmpty</td>
                                                    <td>@item.CateId</td>

                                                    <td style="width:160px" class="item-record" align="center">
                                                        <a asp-area="admin" asp-controller="car" asp-action="edit" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                                                            <i class="fa fa-ticket">
                                                            </i> &nbsp;
                                                            <span class="view-edit" style="font-size:1rem;">Edit</span>
                                                        </a>
                                                        <a href="#" class="btn btn-info btn-sm">
                                                            <i class="fa fa-ticket">
                                                            </i> &nbsp;
                                                            <span class="view-edit" style="font-size:1rem;">Delete</span>
                                                        </a>

                                                    </td>




                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>


