@model BusBooking_Project.Models.ModelsView.StationView
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid mt-2">
    <section class="content-header">
        <div class="mx-5">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create Account</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="station" asp-action="index">STATION</a></li>
                        <li class="breadcrumb-item active">CREATE</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content mx-5">
        <div id="result"></div>
        <form asp-controller="station" asp-area="admin" asp-action="modify" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-sm-12 col-md-9 offset-1">
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label" align="right">Station: </label>
                        <div class="col-sm-5">
                            <select asp-for="City" class="input-ace form-control select-city">
                                @foreach (KeyValuePair<int, string> item in HelperACE.GetDataCity())
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <select asp-for="District" class="input-ace form-control select-district">

                                @foreach (KeyValuePair<int, string> item in ViewBag.ListDistrict)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label" align="right">Name: </label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label" align="right">Phone: </label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Phone" class="form-control" maxlength="50" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-1 col-form-label" align="right">Active: </label>
                        <div class="col-sm-10">
                            <input type="checkbox" asp-for="Active" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="on" data-off="off" data-size="small">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-1 col-sm-4">
                            <button type="submit" class="btn btn-block btn-info"><i class="fas fa-save"></i> &nbsp;SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>

@section script{
    <script>
        $(document).ready(function () {
            $("#datepicker").val(new Date().getDate() + '/' + (new Date().getMonth() + 1) + '/' + new Date().getFullYear());
            switch ('@ViewBag.Result') {
                case '@(CheckError.AlreadyName)':
                    ErrorMode('Name already. Please choose email orther.',$('#result'));
                    break;
                 case '@(CheckError.AlreadyPhone)':
                    alertError('Phone already. Please choose phone orther.', $('#result'));
                    break;
                 case '@(CheckError.ErrorOrther)':
                    alertError('Can not connect Internet', $('#result'));
                    break;
            }
        })

        $('.select-city').on('change', function () {
            $.ajax({
                url: '/admin/station/getdistric/' + $(this).val(),
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    $('.select-district').empty();
                    var result = JSON.parse(data);
                    debugger;
                    var string = '';
                    result.forEach(function (item) {
                        string += '<option value="'+item.Key+'">' + item.Value+'</option>';
                    })
                    $('.select-district').append(string);
                }
            })
        })
    </script>
}
