<<<<<<< HEAD
﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
}
}
=======
﻿@model List<BookingView>

@{ ViewData["Title"] = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml"; }
>>>>>>> Send Mail


<<<<<<< HEAD
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
<<<<<<< HEAD
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Booking</li>
                    </ol>
                </div>
=======
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
<<<<<<< HEAD

>>>>>>> xog remove bus,  employee các đường dẫn, generate code bus ok
=======
                <h1>Booking</h1>
>>>>>>> data Cancel Booking
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="employee" asp-controller="employee" asp-action="index">Home</a></li>
<<<<<<< HEAD
<<<<<<< HEAD
                    <li class="breadcrumb-item active">Booking</li>
=======
                    <li class="breadcrumb-item active">Reques</li>
>>>>>>> xog remove bus,  employee các đường dẫn, generate code bus ok
=======
                    <li class="breadcrumb-item active">Request</li>
>>>>>>> data Cancel Booking
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<<<<<<< HEAD

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
=======
                   
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="employee" asp-controller="employee" asp-action="index" >Home</a></li>
                        <li class="breadcrumb-item active">Reques</li>
                    </ol>
                </div>
>>>>>>> login emp, sửa link dẫn
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Reques</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Code Booking</th>
                                        <th>User Code</th>
                                        <th>Day Create</th>
                                        <th>Day Start</th>
                                        <th>Bus ID</th>
                                        <th>From Address</th>
                                        <th>To Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>B01</td>
                                        <td>U01</td>
                                        <td>
                                            6/5/2020
                                        </td>
                                        <td>7/5/2020</td>
                                        <td>XE 1</td>
                                        <td> Hà Nội</td>
                                        <td>Hồ Chí Minh</td>

                                        <td style="width:160px" class="item-record" align="center">
                                            <a asp-area="employee" asp-controller="bookticket" asp-action="bookticket" class="btn btn-info btn-sm">
                                                <i class="fa fa-ticket">
                                                </i> &nbsp;
                                                <span class="view-edit" style="font-size:1rem;">Next Booking</span>
                                            </a>
                                        </td>


=======

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Request</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Booking Code</th>
                                    <th>FullName</th>
                                    <th>Station From</th>
                                    <th>Station To</th>
                                    <th>Day Create</th>
                                    <th>Day Start</th>
                                    <th>Bus Code</th>
                                    <th>Seat Code</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
<<<<<<< HEAD
                                <tr>
                                    <td>B01</td>
                                    <td>
                                        6/5/2020
                                    </td>
                                    <td>7/5/2020</td>
                                    <td>XE 1</td>
                                    <td>Seat 00</td>
                                    <td> Hà Nội</td>
                                    <td>Hồ Chí Minh</td>

                                    <td style="width:160px" class="item-record" align="center">
                                        <a asp-area="employee" asp-controller="bookticket" asp-action="bookticket" class="btn btn-info btn-sm">
                                            <i class="fa fa-ticket">
                                            </i> &nbsp;
                                            <span class="view-edit" style="font-size:1rem;">Next Booking</span>
                                        </a>
                                    </td>
>>>>>>> xog remove bus,  employee các đường dẫn, generate code bus ok


                                    </tr>

<<<<<<< HEAD
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
<<<<<<< HEAD
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
=======
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
>>>>>>> login emp, sửa link dẫn

=======

                                </tr>

=======
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.ClientName</td>
                        <td>@item.StationNameFrom</td>
                        <td>@item.StationNameTo</td>
                        <td>@item.DayCreate.ToString("f")</td>
                        <td>@item.DayStart.ToString("D")</td>
                        <td>@item.BusCode</td>
                        <td>@item.SeatCode</td>
                        <td>
                            <!-- Call to action buttons -->
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <a role="button" class="btn btn-success btn-sm" asp-area="employee" asp-controller="bookticket" asp-action="detail" asp-route-bookid="@item.Id" data-placement="top" title="Edit"><i class="far fa-eye"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-danger btn-sm" role="button" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>}
                                }
>>>>>>> Send Mail
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
>>>>>>> xog remove bus,  employee các đường dẫn, generate code bus ok
