@model List<BookingView>

@{ ViewData["Title"] = "Index";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml"; }


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Booking</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="employee" asp-controller="employee" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Request</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Request</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Booking Code</th>
                                    <th>FullName</th>
                                    <th>Station From</th>
                                    <th>Station To</th>
                                    <th>Day Create</th>
                                    <th>Day Start</th>
                                    <th>Bus Code</th>
                                    <th>Seat Code</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                    <tr>
                        <td>@item.Code</td>
                        <td>@item.ClientName</td>
                        <td>@item.StationNameFrom</td>
                        <td>@item.StationNameTo</td>
                        <td>@item.DayCreate.ToString("f")</td>
                        <td>@item.DayStart.ToString("D")</td>
                        <td>@item.BusCode</td>
                        <td>@item.SeatCode</td>
                        <td>
                            <!-- Call to action buttons -->
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <a role="button" class="btn btn-success btn-sm" asp-area="employee" asp-controller="bookticket" asp-action="detail" asp-route-bookid="@item.Id" data-placement="top" title="Edit"><i class="far fa-eye"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn btn-danger btn-sm" role="button" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>}
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
