@model IEnumerable<BusView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="mx-5">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>BUS</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active" ><a asp-area="admin" asp-controller="home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Bus</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content mx-5">
    <div class="row my-2">
        <div class="col-10">
            <div class="row">
                <div class="col-5 px-0">
                    <div class="input-group">
                        <div class="form-group col-md-4 select-ace-padding">
                            <select id="selectSearch" class="form-control select-2">
                                <option class="select-ace" selected value="@((int)SearchBus.Code)">Code</option>
                            </select>
                        </div>
                        <input type="text" class="form-control input-ace" placeholder="Search" onkeyup="searchWithSelect(event,this,'selectSearch')">
                    </div>
                </div>
                <div class="col-1 px-10">
                    <div style="padding: 6px 0px 0px 18px;">OR</div>
                </div>
                <div class="col-3 px-10">
                    <select id="comboboxCategory" class="form-control">
                        <option class="select-ace" selected value="null">By bus</option>
                        @foreach (var c in ViewBag.cs)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>                   
                </div>
                <div class="col-3 px-10">
                    <a id="searchbycate" class="btn btn-primary btn-sm" href="#">
                        <i class="fas fa-search">
                        </i> &nbsp;
                        <span class="view-edit" style="font-size:1rem;">Search</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-block bg-gradient-success" onclick="window.location='/admin/bus/create'"><i class="fas fa-plus"></i>&nbsp; Add</button>
        </div>
    </div>
   
    <div>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr style="text-align: center">
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>Photo</th>
                    <th>Code</th>
                    <th>TotalSeat</th>
                    <th>SeatEmpty</th>
                    <th>Brand</th>
                    <th>Status</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align: center">
                        <td class="item-record"><input type="checkbox" name="check_id[]" value="@item.Id"></td>
                        <td class="item-record">
                            <img src="~/admin/image/@item.Image" alt="@item.Image" width="50" height="50" />
                        </td>
                        <td class="item-record">@item.Code</td>
                        <td class="item-record">@item.TotalSeat</td>
                        <td class="item-record">@item.SeatEmpty</td>
                        <td class="item-record">@item.CategoryName</td>
                        <td class="item-record">@(item.Status ? "On" : "Off")</td>
                        <td class="item-record">
                            <input type="checkbox" @(item.Active ? "checked" : "") data-bus-id="@item.Id" onchange="ActiveBus(this);">
                        </td>
                        <td style="width:160px" class="item-record">
                            <a class="btn btn-info btn-sm" href="/admin/bus/edit?id=@item.Id">
                                <i class="fas fa-pencil-alt">
                                </i> &nbsp;
                                <span class="view-edit" style="font-size:1rem;">View/Edit</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row my-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-danger" id="removeBusSelected">
                <i class="fas fa-trash">
                </i>
                Remove
            </button>
        </div>
        <div class="col-sm-12 col-md-6 page">
            <ul id="pagination" class="pagination-sm float-right"></ul>
        </div>
    </div>
</section>

@section script{
    <script>

        if ('@ViewBag.ModifySuccess' == '@CheckError.Success') {

            alertSuccessNonReload();
        }

        $(document).ready(function () {
            var cateid = $('#comboboxCategory');

            cateid.on('change', function () {
                var ahref = $('#searchbycate').attr('href');
                ahref = ahref.replace('#', '/admin/bus/searchbycategory?id=' + cateid.val());
                $('#searchbycate').attr('href', ahref);
            })

            phantrangCurrentPage();
            $(".js-example-disabled-results").select2();
        })

        function phantrangCurrentPage() {
            let propertysearch = new URL(document.URL).searchParams.get("propertysearch");
            let textsearch = new URL(document.URL).searchParams.get("textsearch");
            let id = new URL(document.URL).searchParams.get("id");
            if (!window.location.pathname.includes("/search")) {
                phantrang('#pagination', @(ViewBag.Rows), '/admin/bus?page=');
            }
            else if (window.location.pathname.includes("/searchbycategory")) {               
                phantrang('#pagination', @(ViewBag.Rows), '/admin/bus/searchbycategory?id=' + id + '&page=');
            }
            else {
                $('#selectSearch').val(propertysearch).trigger('change');;
                $('.input-ace').val(textsearch);
                phantrang('#pagination', @(ViewBag.Rows), '/admin/bus/search?propertysearch=' + propertysearch + '&textsearch=' + textsearch + '&page=');
            };
        }

        function ActiveBus(input) {
            let idBus = input.getAttribute("data-bus-id");
            $.ajax({
                method: 'GET',
                url: '/admin/bus/active',
                data: { id: idBus},
                dataType: 'json',
                success: function (data) {
                    if (data == '200') {
                        alertSuccess('Change success.');
                    } else {
                        alertError();
                    }
                },
                error: function (a, b, c) {
                    console.log(a);
                    console.log(b);
                    console.log(c);
                }
            });
        }

        function searchWithSelect(event, input, sl) {
            let textsearch = input.value;
            if (event.keyCode === 13) {
                if (textsearch) {
                    let select = $('#' + sl);
                    window.location.href = '/admin/bus/search?propertysearch=' + select.val() + '&textsearch=' + textsearch;
                } else {
                    window.location.href = '/admin/bus/index';
                }
            }
        }
        // remove bus đã ok
        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });

        $('#removeBusSelected').click(function () { //Xoá những dòng đã được checked
            alertWarning().then((result) => {
                if (result.value) {
                    removeSelected();
                }
            });
        })

        function removeSelected() {
            if (GetBusSelected().length > 0) {
                $.ajax({
                    method: 'GET',
                    url: '/admin/bus/remove',
                    dataType: 'json',
                    data: { listID: JSON.stringify(GetBusSelected()) },
                    success: function (data) {
                        if (data != '') {
                            alertSuccess();
                        } else {
                            alertError();
                        }
                    },
                    error: function (a, b, c) {
                        console.log(a);
                        console.log(b);
                        console.log(c);
                    }
                })
            }
        }
        function GetBusSelected() {
            let list =
                $("input[name='check_id[]']:checked").map(function () {
                    return this.value;
                }).get();
            return Array.from(list.values());
        }
        // end remove bus
    </script>
}
