@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables Seat</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="admin" asp-controller="home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <!-- select -->
                            <div class="form-group">
                                <label>Select by Bus</label>
                                <select class="form-control" id="comboboxBus">
                                        <option value="null">Select</option>
                                    @foreach (var b in ViewBag.buses)
                                    {
                                        <option value="@b.Id">@b.Code</option>
                                    }
                                </select>
                                <div>&nbsp;</div>

                            </div>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-3"></div>
                        <div class="col-3">
                            <div class="form-group">
                                <div>&nbsp;</div>
                                <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#addform" value="New Seat" style="float: right" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr style="text-align: center">
                                <th>
                                    <input type="checkbox" id="AllCbSeat" />
                                </th>
                                <th>Code Seat</th>
                                <th>Code Bus</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in ViewBag.seats)
                            {
                                <tr style="text-align: center">
                                    <td><input type="checkbox" data-idseat="@s.Id" class="CbSeat" /></td>
                                    <td>@s.Code</td>
                                    <td>@s.BusCode</td>
                                    <td>
                                        @(s.Status ? "On" : "Off")
                                    </td>
                                    <td class="item-record">
                                        <button type="button" class="btn btn-info" data-id="@s.Id" data-toggle="modal"                  data-target="#editSeat">
                                            <i class="fas fa-edit"></i>
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>

                </div>
                <!-- /.card-body -->

            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger btnRemove"><i class="fas fa-trash"></i> &nbsp; Remove</button>
                </div>
                <div class="col-md-6"></div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>

    <!-- /.row -->
</section>
<!-- /.content -->

<div class="modal fade" id="addform" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">New Seat</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <form method="post" id="addSeat">
                    <div class="form-group">
                        <label for="CodeBus" class="control-label">Bus Code:</label>
                        <select class="form-control" id="CodeBus">
                            @foreach (var b in ViewBag.buses)
                            {
                                <option value="@b.Id">@b.Code</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="CodeSeat" class="control-label">Seat Code:</label>
                        <input type="text" class="form-control" id="CodeSeat">
                    </div>

                    <div class="form-group">
                        <label class="custom-control teleport-switch">
                            <span class="teleport-switch-control-description">Status:</span>
                            <input type="checkbox" checked id="StatusSeat" class="teleport-switch-control-input">
                            <span class="teleport-switch-control-indicator"></span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="send" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editSeat" tabindex="-1" role="dialog" aria-labelledby="ModalEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="ModalEdit">Edit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form method="post" id="editSeat">

                    <div class="form-group">
                        <label for="EditCodeBus" class="control-label">Select Bus Code:</label>
                        <select class="form-control" id="EditCodeBus">
                            @foreach (var b in ViewBag.buses)
                            {
                                <option value="@b.Id">@b.Code</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="EditCodeSeat" class="control-label">Seat Code:</label>
                        <input type="text" readonly class="form-control EditCodeSeat">
                    </div>

                    @*<label class="custom-control teleport-switch">
                        <span class="teleport-switch-control-description">Status:</span>
                        <input type="checkbox" data-idSeat="@s.Id" value="@s.Status" checked="@s.Status" class="teleport-switch-control-input EditStatus">
                        <span class="teleport-switch-control-indicator"></span>
                    </label>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnEdit" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

