@model IEnumerable<AccountView>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="mx-5">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">USER</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content mx-5">
        <div class="row my-2">
            <div class="col-10">
                <div class="row">
                    <div class="col-5 px-0">
                        <div class="input-group">
                            <div class="form-group col-md-4 select-ace-padding">
                                <select id="selectSearch" class="form-control select-2">
                                    <option class="select-ace" selected value="@((int)SearchUser.Name)">Name</option>
                                    <option class="select-ace" value="@((int)SearchUser.Code)">Code</option>
                                    <option class="select-ace" value="@((int)SearchUser.Email)">Email</option>
                                    <option class="select-ace" value="@((int)SearchUser.Phone)">Phone</option>
                                    <option class="select-ace" value="@((int)SearchUser.Address)">Address</option>
                                </select>
                            </div>
                            <input type="text" class="form-control input-ace" placeholder="Search" onkeyup="searchWithSelect(event,this,'selectSearch')">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-block bg-gradient-success" onclick="window.location='/admin/user/create'"><i class="fas fa-plus"></i>&nbsp; Add</button>
            </div>
        </div>
        <div>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <td class="item-record"><input type="checkbox" name="check_id[]" value="@item.Id"></td>
                        <td class="item-record">
                            <img src="~/admin/image/@item.Images" alt="@item.Images" width="50" height="50" />
                        </td>
                        <td class="item-record">@item.Code</td>
                        <td class="item-record">@item.Name</td>
                        <td class="item-record">@item.Email</td>
                        <td class="item-record">@item.Phone</td>
                        <td class="item-record">@(item.Gender ==1?"Male":"Female")</td>
                        <td class="item-record">
                            <input type="checkbox" @(item.Active ? "checked" : "") data-user-id="@item.Id" onchange="ActiveUser(this);">
                        </td>
                        <td style="width:160px" class="item-record">
                            <a class="btn btn-info btn-sm" href="/admin/user/detail?id=@item.Id">
                                <i class="fas fa-pencil-alt">
                                </i> &nbsp;
                                <span class="view-edit" style="font-size:1rem;">View/Edit</span>
                            </a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AccountView item in Model)
                    {
                        <tr>
                            <td class="item-record"><input type="checkbox" name="check_id[]" value="@item.Id"></td>
                            <td class="item-record">
                                <img src="~/admin/img/@item.Images" alt="@item.Images" width="50" height="50" />
                            </td>
                            <td class="item-record">@item.Code</td>
                            <td class="item-record">@item.Name</td>
                            <td class="item-record">@item.Email</td>
                            <td class="item-record">@item.Phone</td>
                            <td class="item-record">@(item.Gender ==1?"Male":"Female")</td>
                            <td class="item-record">
                                <input type="checkbox" @(item.Active ? "checked" : "") data-user-id="@item.Id" onchange="ActiveUser(this);">
                            </td>
                            <td style="width:160px" class="item-record">
                                <a class="btn btn-info btn-sm" href="/admin/user/detail?id=@item.Id">
                                    <i class="fas fa-pencil-alt">
                                    </i> &nbsp;
                                    <span class="view-edit" style="font-size:1rem;">View/Edit</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row my-3">
            <div class="col-md-6">
                <button type="button" class="btn btn-danger" id="removeUserSelected">
                    <i class="fas fa-trash">
                    </i>
                    Remove
                </button>
            </div>
            <div class="col-sm-12 col-md-6 page">
                <ul id="pagination" class="pagination-sm float-right"></ul>
            </div>
        </div>
    </section>
</div>

@section script{
    <script>
        $(document).ready(function () {
            phantrangCurrentPage();
            $(".js-example-disabled-results").select2();
        })

        function phantrangCurrentPage() {
            let propertysearch = new URL(document.URL).searchParams.get("propertysearch");
            let textsearch = new URL(document.URL).searchParams.get("textsearch");
            if (!window.location.pathname.includes("/search")) {
                phantrang('#pagination', @(ViewBag.Rows), '/admin/user?page=');
            } else {
                $('#selectSearch').val(propertysearch).trigger('change');;
                $('.input-ace').val(textsearch);
                phantrang('#pagination', @(ViewBag.Rows), '/admin/user/search?propertysearch=' + propertysearch + '&textsearch=' + textsearch + '&page=');
            };
        }

        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });

        $('#removeUserSelected').click(function () { //Xoá những dòng đã được checked
            alertWarning().then((result) => {
                if (result.value) {
                    removeSelected();
                }
            });
        })

        function removeSelected() {
            if (GetUserSelected().length > 0) {
                $.ajax({
                    method: 'GET',
                    url: '/admin/user/remove',
                    dataType: 'json',
                    data: { listID: JSON.stringify(GetUserSelected()) },
                    success: function (data) {
                        if (data != '') {
                            alertSuccess();
                        } else {
                            alertError();
                        }
                    },
                    error: function (a, b, c) {
                        console.log(a);
                        console.log(b);
                        console.log(c);
                    }
                })
            }
        }

        function GetUserSelected() {
            let list =
                $("input[name='check_id[]']:checked").map(function () {
                    return this.value;
                }).get();
            return Array.from(list.values());
        }

        function searchWithSelect(event, input, sl) {
            let textsearch = input.value;
            if (event.keyCode === 13) {
                if (textsearch) {
                    let select = $('#' + sl);
                    window.location.href = '/admin/user/search?propertysearch=' + select.val() + '&textsearch=' + textsearch;
                } else {
                    window.location.href = '/admin/user/index';
                }
            }
        }

        function ActiveUser(input) {
            let idUser = input.getAttribute("data-user-id");
            $.ajax({
                method: 'GET',
                url: '/admin/user/active',
                data: { id: idUser},
                dataType: 'json',
                success: function (data) {
                    if (data == '200') {
                        alertSuccess('Change success.');
                    } else {
                        alertError();
                    }
                },
                error: function (a, b, c) {
                    console.log(a);
                    console.log(b);
                    console.log(c);
                }
            });
        }
    </script>
}
